// Awards
.container
    .owl-carousel.owl-style-2( data-items='1', data-sm-items='3', data-md-items='4', data-xl-items='6', data-margin='30', data-loop='false',
        data-owl= {
          dots: true,
          autoplayTimeout: 4500
        })
        a.partners-classic( href='#'): +img('logo-1-192x55.png')
        a.partners-classic( href='#'): +img('logo-2-140x85.png')
        a.partners-classic( href='#'): +img('logo-3-190x48.png')
        a.partners-classic( href='#'): +img('logo-4-177x55.png')
        a.partners-classic( href='#'): +img('logo-5-146x57.png')
        a.partners-classic( href='#'): +img('logo-6-154x62.png')