-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css2?family=Manrope:wght@400;500;700",
		logo = {
			default: 'logo-default-520x84.png',
			inverse: 'logo-inverse-520x84.png',
			name: 'eCoing'
		},
		links = {
			post: 'blog-post.html',
			getTemplate:'#get-template'
		},
		colors = {
			primary: '#5B47FF'
		},
		menu = [
			{
				title: 'About Us',
				link: '#about-us'
			},
			{
				title: 'Our statistics',
				link: '#counter'
			},
			{
				title: 'Features',
				link: '#features'
			},
			{
				title: 'Services',
				link: '#services'
			},
			{
				title: 'Partners',
				link: '#partners'
			}
		],

		// Predefined variables
		breadcrumbs = [],
		pageName = 'Home'
