footer.section.footer-classic#contacts
	.footer-modern__main.bg-gray-lighter
		.container
			.row.row-50.justify-content-sm-center.justify-content-md-start.justify-content-lg-between
				.col-sm-6.col-md-4.col-lg-2
					h5.font-weight-bold.text-darker Contact Us:
					a(href='tel:#').footer-phone.text-darker.mt-5 P: +1 234 567 8901

				.col-sm-6.col-md-4.col-xl-3
					h5.font-weight-bold.text-darker Our Address:
					p.footer-street.mt-1 178 West 27th Street, Suite 527, New York NY 10012

					ul.footer-list-icon.mt-5
						li.mr-3: a(href='#' class='icon mdi mdi-youtube-play')
						li.mr-3: a(href='#' class='icon mdi mdi-facebook')
						li.mr-3: a(href='#' class='icon mdi mdi-instagram')
						li.mr-3: a(href='#' class='icon mdi mdi-twitter')
						li.mr-3: a(href='#' class='icon mdi mdi-linkedin')


				.col-md-5
					.row.row-5
						.col-sm-6.col-md-12.col-lg-5
							ul.list-footer
								li: a(href='#') About Us
								li.mt-2: a(href='#') Reviews
								li.mt-2: a(href='#') Our statistics

						.col-sm-6.col-md-12.col-lg-7
							ul.list-footer
								li: a(href='#') Features
								li.mt-2: a(href='#') Services
								li.mt-2: a(href='#') Partners
				.col-12
					+rights
