header.section.page-header
	//RD Navbar
	.rd-navbar-wrap
		nav.rd-navbar.rd-navbar-classic(
			data-layout=                'rd-navbar-fixed'
			data-sm-layout=             'rd-navbar-fixed'
			data-md-layout=             'rd-navbar-fixed'
			data-lg-layout=             'rd-navbar-static'
			data-xl-layout=             'rd-navbar-static'
		
			data-md-device-layout=      'rd-navbar-fixed'
			data-lg-device-layout=      'rd-navbar-static'
			data-xl-device-layout=      'rd-navbar-static'
		
			data-lg-stick-up-offset=    '46px'
			data-xl-stick-up-offset=    '46px'
			data-xxl-stick-up-offset=   '46px'
			data-lg-stick-up=           'true'
			data-xl-stick-up=           'true'
			data-xxl-stick-up=          'true'
		)
			.rd-navbar-collapse-toggle.rd-navbar-fixed-element-1.d-none( data-rd-navbar-toggle='.rd-navbar-collapse' ): span

			.rd-navbar-main-outer
				.rd-navbar-main
					//RD Navbar Panel
					.rd-navbar-panel
						//RD Navbar Toggle
						button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap'): span

						//RD Navbar Brand
						.rd-navbar-brand
							+logo

					.rd-navbar-main-element.font-weight-bold
						.rd-navbar-nav-wrap
							+navigation( menu )
							button.btn.btn-primary.btn-circle.btn-default-outline.d-lg-none.btn-header.ml-2( data-toggle="modal", data-target= "#login" ) Log in

						//RD Navbar Search
						.rd-navbar-search
							button.rd-navbar-search-toggle.rd-navbar-fixed-element-2(data-rd-navbar-toggle='.rd-navbar-search'): span
							form.rd-search(action='#' data-search-live='rd-search-results-live' method='GET')
								.form-wrap
									label.form-label(for='rd-navbar-search-form-input') Search
									input(class='rd-navbar-search-form-input form-input' id='rd-navbar-search-form-input' type='text' name='s' autocomplete="off")
									.rd-search-results-live
								button.rd-search-form-submit.fa-search(type='submit')
						.rd-navbar-nav-wrap.ml-5.nav-bar-off.d-none.d-lg-block: button.btn.btn-primary.btn-circle.btn-default-outline.btn-header( data-toggle="modal", data-target= "#login" ) Log in