section.text-center.bg-gray.section-xl#counter
    .container
        .row.row-30.offset-top-1
            .col-md-6.col-lg-3
                // Box counter
                article.box-counter
                    .box-counter__main
                        .counter 316
                    .box-counter__divider
                    p.box-counter__title Transactions <br> in the last 24h

            .col-md-6.col-lg-3
                // Box counter
                article.box-counter
                    .box-counter__main
                        .counter 12
                    .box-counter__divider
                    p.box-counter__title Transactions <br> per hour

            .col-md-6.col-lg-3
                // Box counter
                article.box-counter
                    .box-counter__main
                        .counter 114
                    .box-counter__divider
                    p.box-counter__title Largest <br> transactions

            .col-md-6.col-lg-3
                // Box counter
                article.box-counter
                    .box-counter__main
                        .counter 7
                    .box-counter__divider
                    p.box-counter__title Years <br> of experience
="\n"